.switcher {
	/*Display stuff*/
	display: flex;
	/*Box model stuff*/
	padding: 0 var(--space-sm);
	border-radius: var(--rounded);
	/*Miscellaneous*/
	gap: var(--space-xs);
	backdrop-filter: blur(var(--blur));
}
